<header id="site_header" class="header mobile-menu-hide">
  <div class="header-content">
    <div class="header-photo">
      <img src="@img/avatar/photo-portfolio.png" alt="Valerij Shumkov">
    </div>
    <div class="header-titles">
      <h2>Valerij Shumkov</h2>
      <h3 class="h4">Frontend-developer</h3>
    </div>
  </div>
  <ul class="main-menu">
    <li class="active">
      <a href="index.html#about-me" class="nav-anim">
        <span class="menu-icon lnr lnr-home"></span>
        <span class="link-text">About Me</span>
      </a>
    </li>
    <li>
      <a href="index.html#resume" class="nav-anim">
        <span class="menu-icon lnr lnr-graduation-hat"></span>
        <span class="link-text">Resume</span>
      </a>
    </li>
    <li>
      <a href="index.html#portfolio" class="nav-anim">
        <span class="menu-icon lnr lnr-briefcase"></span>
        <span class="link-text">Portfolio</span>
      </a>
    </li>
    <li>
      <a href="index.html#blog" class="nav-anim">
        <span class="menu-icon lnr lnr-book"></span>
        <span class="link-text">Blog</span>
      </a>
    </li>
    <li>
      <a href="index.html#contact" class="nav-anim">
        <span class="menu-icon lnr lnr-envelope"></span>
        <span class="link-text">Contact</span>
      </a>
    </li>
  </ul>
  <div class="social-links">
    {{>../templates/social}}
  </div>
  <div class="header-buttons">
    <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
  </div>
</header>