<div class="content-area">
  <div class="animated-sections">
    {{>../partials/home}}
    {{>../partials/about}}
    {{>../partials/resume}}
    {{>../partials/portfolio}}
    {{>../partials/blog}}
    {{>../partials/contact}}
  </div>
</div>