.block-title {
  display: inline-block;
  position: relative;
  padding-right: 12px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.block-title h3 {
  position: relative;
  font-size: 21px;
  z-index: 1;
}

.block-title h3 span {
  color: #0ba376;
}

.block-title:after {
  position: absolute;
  opacity: 0.45;
  top: 10px;
  right: 0;
  content: '';
  height: 20px;
  width: 30px;
  background-image: -webkit-repeating-radial-gradient(center center, #0ba376, #0ba376 1px, transparent 0px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, #0ba376, #0ba376 1px, transparent 0px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #0ba376, #0ba376 1px, transparent 0px, transparent 100%);
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  z-index: 0;
}

/* --- White Spaces --- */
.white-space-10 {
  padding-bottom: 10px;
}

.white-space-20 {
  padding-bottom: 20px;
}

.white-space-30 {
  padding-bottom: 30px;
}

.white-space-40 {
  padding-bottom: 40px;
}

.white-space-50 {
  padding-bottom: 50px;
}

.white-space-60 {
  padding-bottom: 60px;
}

.white-space-70 {
  padding-bottom: 70px;
}

/* --- End White Spaces --- */

/* --- Simple Info List --- */
.info-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-list ul li {
  margin-bottom: 10px;
}

.info-list .title {
  color: #0ba376;
  margin-right: 5px;
  font-weight: 600;
}

/* --- End Simple Info List --- */

/* --- Info block with Icon --- */
.info-block-w-icon {
  margin-bottom: 25px;
}

.info-block-w-icon .ci-text h4 {
  margin: 5px 0;
}

.info-block-w-icon .ci-text p {
  font-size: .95em;
}

.info-block-w-icon .ci-icon {
  display: table-cell;
  width: 54px;
  padding-right: 25px;
}

.info-block-w-icon i {
  position: relative;
  font-size: 42px;
  color: #0ba376;
  opacity: .7;
}

/* --- End Info block with Icon --- */

/* --- Info Block with Borders --- */
.lm-info-block {
  position: relative;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 0 15px 0;
  background-color: #333;
  padding: 20px 10px;
  border: 1px solid #444;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.lm-info-block i {
  position: relative;
  font-size: 33px;
  color: #0ba376;
  z-index: 1;
}

.lm-info-block h4 {
  font-size: 15px;
  margin-top: 8px;
}

.lm-info-block .lm-info-block-value {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  display: block;
  margin: 10px 0;
  color: #0ba376;
}

.lm-info-block .lm-info-block-value:empty {
  margin: 0;
}