<figure class="item lbaudio" data-groups='["category_all"]'>
  <div class="portfolio-item-img">
    <img src="" alt="SoundCloud Audio" title="">
    <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221650664&#038;color=%23ff5500&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;show_teaser=true&#038;visual=true"
      class="lightbox mfp-iframe" title="SoundCloud Audio"></a>
  </div>
  <i class="fa fa-volume-up"></i>
  <h4 class="name">SoundCloud Audio</h4>
  <span class="category">SoundCloud</span>
</figure>