<figure class="item standard" data-groups='["category_all", "category_detailed"]'>
  <div class="portfolio-item-img">
    <img src="" alt="Media Project 2" title="">
    <a href="portfolio-1.html" class="ajax-page-load"></a>
  </div>
  <i class="far fa-file-alt"></i>
  <h4 class="name">Detailed Project 2</h4>
  <span class="category">Detailed</span>
</figure>