<figure class="item lbvideo" data-groups='["category_all"]'>
  <div class="portfolio-item-img">
    <img src="" alt="Vimeo Video 1" title="">
    <a href="https://player.vimeo.com/video/158284739" class="lightbox mfp-iframe" title="Vimeo Video 1"></a>
  </div>
  <i class="fas fa-video"></i>
  <h3 class="h4 name">Vimeo Video 1</h3>
  <span class="category">Vimeo Videos</span>
</figure>