<figure class="item lbvideo" data-groups='["category_all"]'>
  <div class="portfolio-item-img">
    <img src="@img/portfolio/6.jpg" alt="YouTube Video 1" title="">
    <a href="https://www.youtube.com/embed/bg0gv2YpIok" class="lightbox mfp-iframe" title="YouTube Video 1"></a>
  </div>
  <i class="fas fa-video"></i>
  <h3 class="h4 name">YouTube Video 1</h3>
  <span class="category">YouTube Videos</span>
</figure>