{{>../views/layout/head
lng="en"
title="Valerij Shumkov | Web-site"
description=""
keywords=""
author="Valerij Shumkov"
}}

<body class="body">
  {{>../views/templates/caption caption="Web-site Portfolio Valerij Shumkov"}}
  {{>../views/templates/preloader}}
  {{>../views/layout/page}}

  <script src="vendors/jquery.min.js"></script>
  <script src="vendors/modernizr.custom.js"></script>
  <script src="vendors/animating.js"></script>
  <script src="vendors/imagesloaded.pkgd.min.js"></script>
  <script src='vendors/perfect-scrollbar.min.js'></script>
  <script src='vendors/jquery.shuffle.min.js'></script>
  <script src='vendors/masonry.pkgd.min.js'></script>
  <script src='vendors/owl.carousel.min.js'></script>
  <script src="vendors/jquery.magnific-popup.min.js"></script>
  <script src="vendors/validator.js"></script>
  <script src="vendors/main.js"></script>
</body>

</html>