<section data-id="contact" class="animated-section">
  <div class="section-content">
    <div class="page-title">
      <h2>Contact</h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="lm-info-block gray-default">
          <i class="lnr lnr-checkmark-circle"></i>
          <h3 class="h4">Middle Front-end Developer</h3>
          <span class="lm-info-block-value"></span>
          <span class="lm-info-block-text"></span>
        </div>
        <a href="https://github.com/Valerij2000" target="_blank">
          <div class="lm-info-block gray-default">
            <i class="lnr lnr-code"></i>
            <h3 class="h4">GitHub</h3>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>
        </a>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-4">
        <a href="https://t.me/valerijshumkov" target="_blank">
          <div class="lm-info-block gray-default">
            <i class="lnr lnr-location"></i>
            <h3 class="h4">Telegram</h3>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>
        </a>
        <a href="https://wa.me/79613051320" target="_blank">
          <div class="lm-info-block gray-default">
            <i class="lnr lnr-bubble"></i>
            <h3 class="h4">WhatsApp</h3>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>
        </a>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-4">
        <a href="tel:+7(961)-305-13-20">
          <div class="lm-info-block gray-default">
            <i class="lnr lnr-phone-handset"></i>
            <h3 class="h4">+7 (961)-305-13-20</h3>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>
        </a>
        <a href="mailto:valery.shumkov@mail.ru" target="_blank">
          <div class="lm-info-block gray-default">
            <i class="lnr lnr-envelope"></i>
            <h3 class="h4">valery.shumkov@mail.ru</h3>
            <span class="lm-info-block-value"></span>
            <span class="lm-info-block-text"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>