<section data-id="home" class="animated-section start-page">
  <img src="@img/logo/logo.svg" alt="Valerij Shumkov" class="main-logo">
  <div class="section-content vcentered">
    {{>particles}}
    <div class="row main-head">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="title-block">
          <h2 class="h2">Valerij Shumkov</h2>
          <div class="owl-carousel text-rotation">
            <div class="item">
              <div class="sp-subtitle">Frontend-developer</div>
            </div>
            <div class="item">
              <div class="sp-subtitle">Web-programmer</div>
            </div>
            <div class="item">
              <div class="sp-subtitle">Web-master</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>