<section data-id="portfolio" class="animated-section">
  <div class="section-content">
    <div class="page-title">
      <h2>Portfolio</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="portfolio-content">
          <ul class="portfolio-filters">
            <li class="active">
              <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_landings">Landings</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_multilandings">Multilandings</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_shops">Internet Shops</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_app">Web Applications</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_cms">CMS</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_games">Web Games</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_email">Email marketing</a>
            </li>
          </ul>
          <div class="portfolio-grid three-columns">
            {{>../portfolio/viewer title='IQOS' category='Landings' groups='["category_all", "category_landings"]'
            imgSrc='@img/portfolio/portfolio-iqos.jpg'}}

            {{>../portfolio/detailed title='IQOS' category='Landings' groups='["category_all", "category_shops"]'
            imgSrc='@img/portfolio/portfolio-iqos.jpg' hrefLink="portfolio-1.html"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>