<section data-id="portfolio" class="animated-section">
  <div class="section-content">
    <div class="page-title">
      <h2 class="h2">Portfolio</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="portfolio-content">
          {{>portfolio-filters}}
          {{>works}}
          <button class="show-more">Show more</button>
        </div>
      </div>
    </div>
  </div>
</section>