<section data-id="portfolio" class="animated-section">
  <div class="section-content">
    <div class="page-title">
      <h2>Portfolio</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="portfolio-content">
          <ul class="portfolio-filters">
            <li class="active">
              <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_landings">Landings</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_multilandings">Multilandings</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_service">Web Service</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_shops">Internet Shops</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_app">Web Applications</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_cms">CMS</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_games">Web Games</a>
            </li>
            <li>
              <a class="filter btn btn-sm btn-link" data-group="category_email">Email marketing</a>
            </li>
          </ul>
          <div class="portfolio-grid three-columns">
            {{>../portfolio/detailed title='IQOS' category='Landings' groups='["category_all", "category_service"]'
            imgSrc='@img/portfolio/portfolio-iqos.jpg' hrefLink="portfolio-iqos.html"}}

            {{>../portfolio/detailed title='Procter & Gamble' category='Web Games' groups='["category_all",
            "category_games"]'
            imgSrc='@img/portfolio/portfolio-pg.jpg' hrefLink="portfolio-pg.html"}}

            {{>../portfolio/detailed title='Yandex' category='Web Service' groups='["category_all",
            "category_service"]'
            imgSrc='@img/portfolio/portfolio-yandex-quiz.jpg' hrefLink="portfolio-yandex-quiz.html"}}

            {{>../portfolio/detailed title='Avito' category='Web Application' groups='["category_all",
            "category_app"]'
            imgSrc='@img/portfolio/portfolio-avitoparser.jpg' hrefLink="portfolio-avitoparser.html"}}

            {{>../portfolio/detailed title='Vlad Kadoni' category='Multilandings' groups='["category_all",
            "category_multilandings"]'
            imgSrc='@img/portfolio/portfolio-vladkadoni.jpg' hrefLink="portfolio-vladkadoni.html"}}

            {{>../portfolio/detailed title='Yandex' category='Landings' groups='["category_all",
            "category_landings"]'
            imgSrc='@img/portfolio/portfolio-yandex-brth.jpg' hrefLink="portfolio-yandex-brth.html"}}

            {{>../portfolio/detailed title='IQOS' category='Landings' groups='["category_all",
            "category_landings"]'
            imgSrc='@img/portfolio/portfolio-iqos-experince.jpg' hrefLink="portfolio-iqos-experince.html"}}

            {{>../portfolio/detailed title='Alfa' category='Landings' groups='["category_all",
            "category_landings"]'
            imgSrc='@img/portfolio/portfolio-alfa-investing.jpg' hrefLink="portfolio-alfa-investing.html"}}

            {{>../portfolio/detailed title='Avtoraketa' category='Multilanding' groups='["category_all",
            "category_multilandings"]'
            imgSrc='@img/portfolio/portfolio-avtoraketa.jpg' hrefLink="portfolio-avtoraketa.html"}}

            {{>../portfolio/detailed title='IQOS' category='Web Application' groups='["category_all",
            "category_app"]'
            imgSrc='@img/portfolio/portfolio-iqos-sticks.jpg' hrefLink="portfolio-iqos-sticks.html"}}

            {{>../portfolio/detailed title='Atlas' category='CMS' groups='["category_all",
            "category_cms"]'
            imgSrc='@img/portfolio/portfolio-atlas.jpg' hrefLink="portfolio-atlas.html"}}

            {{>../portfolio/detailed title='Kinopoisk' category='Web Application' groups='["category_all",
            "category_app"]'
            imgSrc='@img/portfolio/portfolio-kinopoisk.jpg' hrefLink="portfolio-kinopoisk.html"}}

            {{>../portfolio/detailed title='IQOS' category='Landing' groups='["category_all",
            "category_landings"]'
            imgSrc='@img/portfolio/portfolio-iqos-choice.jpg' hrefLink="portfolio-iqos-choice.html"}}

            {{>../portfolio/detailed title='PG Bonus' category='Internet Shop' groups='["category_all",
            "category_shops"]'
            imgSrc='@img/portfolio/portfolio-pgbonus.jpg' hrefLink="portfolio-pgbonus.html"}}

            {{>../portfolio/detailed title='IQOS' category='Landing' groups='["category_all",
            "category_landings"]'
            imgSrc='@img/portfolio/portfolio-iqos-fiit.jpg' hrefLink="portfolio-iqos-fiit.html"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>