<ul class="portfolio-filters">
  <li class="active">
    <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_landings">Landings</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_multilandings">Multilandings</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_service">Web Service</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_shops">Internet Shops</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_app">Web Applications</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_cms">CMS</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_games">Web Games</a>
  </li>
  <li>
    <a class="filter btn btn-sm btn-link" data-group="category_email">Email Marketing</a>
  </li>
</ul>