<div id="ajax-page" class="ajax-page-content">
  <div class="ajax-page-wrapper">
    <div class="ajax-page-nav">
      <div class="nav-item ajax-page-close-button">
        <a id="ajax-page-close-button" href="#"><i class="lnr lnr-cross"></i></a>
      </div>
    </div>
    <div class="ajax-page-title">
      <h1 class="h1">Medic Center</h1>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 portfolio-block">
        <div class="owl-carousel portfolio-page-carousel">
          <div class="item">
            <img src="@img/works/portfolio-mediccenter/1.jpg" alt="" aria-hidden="true">
          </div>
          <div class="item">
            <img src="@img/works/portfolio-mediccenter/2.jpg" alt="" aria-hidden="true">
          </div>
          <div class="item">
            <img src="@img/works/portfolio-mediccenter/3.jpg" alt="" aria-hidden="true">
          </div>
          <div class="item">
            <img src="@img/works/portfolio-mediccenter/4.jpg" alt="" aria-hidden="true">
          </div>
        </div>
        <script type="text/javascript">
          jQuery(document).ready(function ($) {
            $('.portfolio-page-carousel').imagesLoaded(function () {
              $('.portfolio-page-carousel').owlCarousel({
                smartSpeed: 1200,
                items: 1,
                loop: true,
                dots: true,
                nav: true,
                navText: false,
                margin: 10,
                autoHeight: true
              });
            });
          });
        </script>
      </div>
      <div class="col-sm-4 col-md-4 portfolio-block">
        <!-- Project Description -->
        <div class="project-description">
          <div class="block-title">
            <h3 class="h3">Description</h3>
          </div>
          <ul class="project-general-info">
            <li>
              <p class="mb-10"><i class="fa fa-user"></i> Valerij Shumkov</p>
            </li>
            <li>
              <p class="mb-10"><i class="fa fa-globe"></i> <a href="http://lazer-beauti.ru/world-science/"
                  target="_blank">www.project-site.com</a></p>
            </li>
            <li>
              <p class="mb-10"><i class="fa fa-calendar"></i> 2 jun, 2022</p>
            </li>
          </ul>
          <div class="tags-block">
            <div class="block-title">
              <h3 class="h3">Technology</h3>
            </div>
            <ul class="tags">
              <li><a class="link">HTML</a></li>
              <li><a class="link">CSS</a></li>
              <li><a class="link">JS</a></li>
              <li><a class="link">Webpack</a></li>
            </ul>
          </div>
          <div class="btn-group share-buttons">
            <div class="block-title">
              <h3 class="h3">Social</h3>
            </div>
            {{>../../views/templates/social-link}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>